<nav class="position-relative">
  <ul class="footer-nav fixed-bottom bg-neutral-0 list-unstyled d-flex justify-content-between my-0">
    <li class="">
      <a href="index.html"><img src="/assets/images/icon/home_off.png" alt="">
        <p class="fs-8 fw-bold text-secondary text-center">主頁</p>
      </a>
    </li>
    <li class="">
      <a href="dataTrak.html"><img src="/assets/images/icon/disk_off.png" alt="">
        <p class="fs-8 fw-bold text-secondary text-center">回顧</p>
      </a>
    </li>
    <li class="">
      <a href=""><img src="/assets/images/icon/dog_foot_off.png" alt="">
        <p class="fs-8 fw-bold text-secondary text-center">資料</p>
      </a>
    </li>
  </ul>
</nav>