<nav class="position-relative">
    <div class="fixed-bottom footer-w">
      <ul class="footer-nav bg-neutral-0 list-unstyled d-flex justify-content-between mb-0">
        <li class="">
          <a href="./index.html">
            <img class="mb-1" src="/assets/images/icon/home.png" alt="home" style="width: 24px; height: 24px;">
            <p class="fs-8 fw-bold text-secondary text-center">主頁</p>
          </a>
        </li>
        <li class="">
          <a href="./dataTrak.html">
            <img class="mb-1" src="/assets/images/icon/disk_on.png" alt="disk" style="width: 24px; height: 24px;">
            <p class="fs-8 fw-bold text-secondary text-center">回顧</p>
          </a>
        </li>
        <li class="">
          <a href="#">
            <img class="mb-1" src="/assets/images/icon/dog_foot.png" alt="dog_foot" style="width: 24px; height: 24px;">
            <p class="fs-8 fw-bold text-secondary text-center">資料</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>