// inter font
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import '../../node_modules/bootstrap/scss/functions';
@import './utils/variables';
@import '../../node_modules/bootstrap';

@import '/assets/scss/base/base.scss';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/index.scss';
@import './pages/walkRecord.scss';
@import './pages/dataTrak.scss';
@import './pages/walkDiary.scss';
@import './pages/start.scss';
@import './pages/distance.scss';
