.dataTkDay-w {
    width: 149.5px;
}

.dataDy-mt-1 {
    margin-top: -16px;
}

.dataDy-mx-1 {
    margin-left: 5.5px;
    margin-right: 5.5px;
}

.dataDy-pt-1 {
    padding-top: 10px;
}

.dataDy-card-p1 {
    padding: 12.5px 8px;
}

.dataDy-card-p2 {
    padding: 18.25px 20px;
}

.dataDy-width {
    width: 100px;
}

.dataDy-data-width {
    width: 74px;
    height: 45px;
}

.dataDy-data {
    font-size: 36px;
}

.dataDy-status-1 {
    background-color: #83cb4a;
    border-radius: 50px;
    width: 48px;
    height: 26px;
}

.dataDy-status-2 {
    background-color: #df562f;
    border-radius: 50px;
    width: 48px;
    height: 26px;
}

.daySwiper {
    .mySwiper {
        overflow: visible;
        width: 140px;
    }

    .swiper-slide {
        opacity: 0.5;
        transform: scale(0.75);
    }

    .swiper-slide-active {
        opacity: 1;
        transform: scale(1);
    }
}

.dataDy-posRel-1 {
    margin-left: -100px;
    z-index: 1;
}

.dataDy-posRel-2 {
    margin-left: -50px;
    z-index: 1;
}

.dataDy-nav:hover {
    background-color: $neutral-100;
}