.dataTk-posRel-1 {
    bottom: 2.5px;
    right: 3px;
}

.dataTk-posRel-2 {
    top: 2.5px;
}

.dataTk-nav {
    margin-top: -4px;
}

.page-item-w {
    width: 37px;
    height: 50px;
}

.data-card {
    padding: 18.5px 6.5px;
}

.data-title {
    width: 140px;
    padding: 10px 10px 0 10px;
}

.data-width {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-h {
    height: 156px;
}

.user-pos-rel {
    top: -105px;
}

// ----------------------------------------------
.back-circle-point {
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 1;
    }

    &::before {
        background: #9DD581;
        transform: rotate(225deg) translate(0, -55px);
    }

    &::after {
        background: $neutral-75;
        transform: rotate(135deg) translate(0, -55px);
    }
}

.back-circle-1 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(white 0 90deg,
            #9DD581 90deg,
            #52AC2A var(--angle),
            #ededed 90deg 360deg);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
    animation: 2s animate1 0s linear;
    animation-fill-mode: forwards;
}

@keyframes animate1 {
    to {
        --angle: 297.9deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.circle-point-1 {
    position: absolute;
    top: 0;
    left: 0;

    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 1;
        transform: rotate(225deg) translate(0, -55px);
        animation: 2s point1 0.74s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes point1 {
    from {
        -webkit-transform: rotate(135deg) translateX(55px);
        background-color: #9DD581;
    }

    to {
        -webkit-transform: rotate(342.9deg) translateX(55px);
        background-color: #52AC2A;
    }
}

.back-circle-2 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(white 0 90deg,
            #9DD581 90deg,
            #52AC2A var(--angle2),
            #ededed 90deg 360deg);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
    animation: 2s animate2 0s linear;
    animation-fill-mode: forwards;
}

@keyframes animate2 {
    to {
        --angle2: 338.4deg;
    }
}

@property --angle2 {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.circle-point-2 {
    position: absolute;
    top: 0;
    left: 0;

    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 1;
        transform: rotate(225deg) translate(0, -55px);
        animation: 2s point2 0.74s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes point2 {
    from {
        -webkit-transform: rotate(135deg) translateX(55px);
        background-color: #9DD581;
    }

    to {
        -webkit-transform: rotate(386deg) translateX(55px);
        background-color: #52AC2A;
    }
}

.back-circle-3 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(white 0 90deg,
            #9DD581 90deg,
            #52AC2A var(--angle2),
            #ededed 90deg 360deg);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
    animation: 1.1s animate3 0s linear;
    animation-fill-mode: forwards;
}

@keyframes animate3 {
    to {
        --angle2: 130.5deg;
    }
}

.circle-point-3 {
    position: absolute;
    top: 0;
    left: 0;

    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 1;
        transform: rotate(225deg) translate(0, -55px);
        animation: 1.1s point3 0.7s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes point3 {
    from {
        -webkit-transform: rotate(135deg) translateX(55px);
        background-color: #9DD581;
    }

    to {
        -webkit-transform: rotate(174deg) translateX(55px);
        background-color: #52AC2A;
    }
}
