.dataTk-posRel-1 {
    bottom: 2.5px;
    right: 3px;
}

.dataTk-posRel-2 {
    top: 2.5px;
}

.dataTk-nav{
    margin-top: -4px;
}

.page-item-w {
    width: 37px;
    height: 50px;
}

.data-card {
    padding: 18.5px 6.5px;
}

.data-title {
    width: 140px;
    padding: 10px 10px 0 10px;
}

.data-width {
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-h {
    height: 156px;
}

.user-pos-rel {
    top: -105px;
}

// ----------------------------------------------
.back-circle-point {
    position: absolute;
    top: 0;
    left: 0;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 1;
    }
    
    &::before {
        background: #9DD581;
        transform: rotate(225deg) translate(0, -55px);
    }
    
    &::after {
        background: $neutral-75;
        transform: rotate(135deg) translate(0, -55px) ;
    }
}

.back-circle-1 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#FFF 0, #FFF 25%, #9DD581 25%, #52AC2A 82.75%, $neutral-75 25%, $neutral-75);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
}

.circle-point-1 {
    position: absolute;
    top: 0;
    left: 0;
    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #52AC2A;
        z-index: 1;
    }
    
    &::before {
        transform: rotate(74deg) translate(0, -55px);
    }
}

.back-circle-2 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#FFF 0, #FFF 25%, #9DD581 25%, #52AC2A 94%, $neutral-75 25%, $neutral-75);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
}

.circle-point-2 {
    position: absolute;
    top: 0;
    left: 0;
    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #52AC2A;
        z-index: 1;
    }
    
    &::before {
        transform: rotate(114deg) translate(0, -55px);
    }
}

.back-circle-3 {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#FFF 0, #FFF 25%, #9DD581 25%, #52AC2A 36.25%, $neutral-75 25%, $neutral-75);
    mask: radial-gradient(transparent, transparent 50px, #000 50.5px, #000 0);
    transform: rotate(135deg);
}

.circle-point-3 {
    position: absolute;
    top: 0;
    left: 0;
    &::before {
        content: "";
        position: absolute;
        top: 55px;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #52AC2A;
        z-index: 1;
    }
    
    &::before {
        transform: rotate(265deg) translate(0, -55px);
    }
}