.dataTkDay-w {
    width: 149.5px;
}

.dataDy-mt-1 {
    margin-top: -16px;
}

.dataDy-card-p1 {
    padding: 12.5px 8px;
}

.dataDy-card-p2 {
    padding: 18.25px 20px;
}

.dataDy-width {
    width: 100px;
}

.dataDy-data-width {
    width: 74px;
    height: 45px;
}

.dataDy-data {
    font-size: 36px;
}

.dataDy-status-1 {
    background-color: #83cb4a;
    border-radius: 50px;
    width: 48px;
}