.header-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ms-setting {
  margin-left: -20px;
}

.ms-img-setting {
  margin-left: -70px;
}

.log-woman-position {
  right: 30px;
}

.log-pet-position {
  right: 12px;
}

.walk-section {
  margin-bottom: 60px;
}

.start-position {
  bottom: 65px;
  left: 50%;
  transform: translate(-50%, 0);
}
