.sport-margin {
  margin: 227.5px 0 227.5px 0;
}

.petImgBtn {
  width: 80px;
  height: 80px;
  border: 4px solid $neutral-300;
}

.btn.petImgBtn.hover,
.btn.petImgBtn:hover {
  border: 4px solid #F99407;
}

.btn.petImgBtn.active,
.btn.petImgBtn:active {
  color: $primary-500;
}

.petcheck {
  top: -24px;
  margin-left: auto;
  visibility: hidden;
}

.active .petcheck {
  visibility: visible;
}