.img-rounded {
    border-radius: 12px;
}

.wR-img {
    width: 240px;
}

.walkRd-posRel-1 {
    right: 8px;
}

.walkRd-posRel-2 {
    left: 8px;
}

.walkRd-posRel-3 {
    margin-left: -83px;
}

.walkRd-posRel-4 {
    margin-top: 3px;
}