.walkDy-posRel-1 {
    left: 16px;
}

.walkDy-posRel-2 {
    margin-left: -75px;
}

.workout-status-title-width-1 {
    width: 149.5px;
}

.workout-status-width-1 {
    width: 64px;
}

.workout-status-width-2 {
    width: 243px;
}

.workout-status-mb {
    margin-bottom: 41px;
}

.swiper-pagination {
    color: #f99407;
}