.img-rounded {
    border-radius: 12px;
}

.workRd-posRel-1 {
    right: 8px;
}

.workRd-posRel-2 {
    left: 8px;
}

.workRd-posRel-3 {
    margin-left: -83px;
}

.workRd-posRel-4 {
    margin-top: 3px;
}