<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>數據追蹤</title>
</head>

<body>

    <div class="container-mobile">

        <div class="container-sm px-4 pt-4">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <a href="./dataTrak.html">
                    <img src="../assets/images/icon/back.png" alt="back">
                </a>

                <div class="btn-group bg-neutral-50 rounded-pill py-1 px-2 gap-1">
                    <a href="./dataTrak.html" class="rounded-pill btn fs-7 fw-bold py-1 border-0 btn-neutral-0 active"
                        aria-current="page">數據追蹤</a>
                    <a href="./walkRecord.html"
                        class="rounded-pill btn fs-7 fw-bold py-1 border-0 text-neutral-400">散步紀錄</a>
                </div>

                <div class="dropdown">
                    <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="" src="../assets/images/icon/more.png" alt="more">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group bg-neutral-50 rounded-pill d-flex justify-content-between mb-2">
                <a href="#" class="btn border-0 fs-7 py-1 text-neutral-0 bg-primary-500 active"
                    aria-current="page">日</a>
                <a href="#" class="btn border-0 fs-7 py-1 text-neutral-400">週</a>
                <a href="#" class="btn border-0 fs-7 py-1 text-neutral-400">月</a>
                <a href="#" class="btn border-0 fs-7 py-1 text-neutral-400">年</a>
                <a href="#" class="btn border-0 fs-7 py-1 text-neutral-400">自訂</a>
            </div>

            <nav aria-label="mb-0">
                <ul class="pagination d-flex justify-content-between align-items-center">
                    <li class="page-item">
                        <a class="page-link px-1 py-1 border-0" href="#" aria-label="Previous">
                            <img src="../assets/images/icon/arrow_left.png" alt="arrow_left">
                        </a>
                    </li>
                    <p class="fs-7 fw-bold text-neutral-800">今日, 07/16 </p>
                    <li class="page-item">
                        <a class="page-link px-1 py-1 border-0" href="#" aria-label="Next">
                            <img src="../assets/images/icon/arrow_right.png" alt="arrow_right">
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="d-flex flex-column gap-5 dataDy-mt-1">

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper swiper-w">
                        <div class="swiper-slide">
                            <div class="user-h">
                                <div class="m-auto circle-box">
                                    <div class="back-circle-2"></div>
                                    <div class="back-circle-point"></div>
                                    <div class="circle-point-2"></div>
                                </div>
                                <div class="d-flex flex-column data-title position-relative user-pos-rel m-auto">
                                    <img class="rounded-circle m-auto mb-3" src="../assets/images/pet01.png" alt="pet01"
                                        style="width: 68px; height: 68px;">
                                    <p class="fs-6 fw-bold text-center">黑皮</p>
                                    <div class="d-flex gap-1 justify-content-center">
                                        <p class="fs-6">活動量</p>
                                        <p class="fs-6 fw-bold">92%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide  position-relative dataDy-posRel-1">
                            <div class="user-h ">
                                <div class="m-auto circle-box">
                                    <div class="back-circle-3"></div>
                                    <div class="back-circle-point"></div>
                                    <div class="circle-point-3"></div>
                                </div>
                                <div class="d-flex flex-column data-title position-relative user-pos-rel m-auto">
                                    <img class="rounded-circle m-auto mb-3" src="../assets/images/pet02.png" alt="pet02"
                                        style="width: 68px; height: 68px;">
                                    <p class="fs-6 fw-bold text-center">小不點</p>
                                    <div class="d-flex gap-1 justify-content-center">
                                        <p class="fs-6">活動量</p>
                                        <p class="fs-6 fw-bold">15%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="swiper-slide position-relative dataDy-posRel-2">
                            <div class="user-h">
                                <div class="m-auto circle-box">
                                    <div class="back-circle-1"></div>
                                    <div class="back-circle-point"></div>
                                    <div class="circle-point-1"></div>
                                </div>
                                <div class="d-flex flex-column data-title position-relative user-pos-rel m-auto">
                                    <img class="rounded-circle m-auto mb-3" src="../assets/images/user01.png"
                                        alt="user01" style="width: 68px; height: 68px;">
                                    <p class="fs-6 fw-bold text-center">墨鏡姊</p>
                                    <div class="d-flex gap-1 justify-content-center">
                                        <p class="fs-6">活動量</p>
                                        <p class="fs-6 fw-bold">77%</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>



                <div class="border border-1 rounded-4">
                    <div class="p-3">
                        <div class="d-flex justify-content-between">
                            <div class="dataTkDay-w">
                                <p class="fs-7 text-neutral-400 text-center mb-1">總時長</p>
                                <div class="d-flex justify-content-center">
                                    <h3 class="fw-bold">1</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">小時</p>
                                </div>
                            </div>
                            <div class="dataTkDay-w">
                                <p class="fs-7 text-neutral-400 text-center mb-1">平均每日</p>
                                <div class="d-flex justify-content-center">
                                    <h3 class="fw-bold">74</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">分鐘</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-1 p-3">
                        <p class="fs-7 text-neutral-400 text-center">運動地點</p>
                        <div>
                            <img class="rounded-circle mb-1 mx-auto" style="width: 28px;"
                                src="../assets/images/location01.png" alt="location01">
                            <p class="fs-7 text-neutral-950 text-center">中安森林公園</p>
                        </div>
                    </div>
                </div>

                <div class="border border-1 rounded-4 dataDy-card-p1">
                    <div class="d-flex flex-column gap-1">
                        <div class="d-flex justify-content-between gap-2">
                            <div class="dataDy-width">
                                <p class="fs-8 text-neutral-400">步數</p>
                                <div class="d-flex">
                                    <h4 class="fw-bold">16,800</h4>
                                    <p class="fs-8 fw-bold ms-1 mt-2">步</p>
                                </div>
                            </div>
                            <div class="dataDy-width">
                                <p class="fs-8 text-neutral-400">距離</p>
                                <div class="d-flex">
                                    <h4 class="fw-bold">3</h4>
                                    <p class="fs-8 fw-bold ms-1 mt-2">公里</p>
                                </div>
                            </div>
                            <div class="dataDy-width">
                                <p class="fs-8 text-neutral-400">消耗</p>
                                <div class="d-flex">
                                    <h4 class="fw-bold">332</h4>
                                    <p class="fs-8 fw-bold ms-1 mt-2">大卡</p>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/chart01.png" alt="chart01">
                        <img src="../assets/images/chart01_text.png" alt="chart01_text">
                    </div>
                </div>

                <div class="d-flex gap-3">
                    <div class="border border-1 rounded-4 dataDy-card-p2">
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex align-items-center">
                                <img class="me-1" style="width: 16px; height: 14px;"
                                    src="../assets/images/icon/heart.png" alt="heart">
                                <p class="text-neutral-400">平均心律</p>
                            </div>
                            <div>
                                <div class="d-flex mb-1">
                                    <p class="dataDy-data fw-bold dataDy-data-width">120</p>
                                    <p class="fs-6 text-neutral-400 mt-5">bpm</p>
                                </div>
                                <div class="dataDy-status-1 py-1 px-3">
                                    <p class="fs-7 text-neutral-0 text-center">正常</p>
                                </div>
                            </div>
                            <img src="../assets/images/line_img01.png" alt="line_img01">
                        </div>
                    </div>
                    <div class="border border-1 rounded-4 dataDy-card-p2">
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex align-items-center">
                                <img class="me-1" src="../assets/images/icon/temperature.png" alt="heart">
                                <p class="text-neutral-400">平均心律</p>
                            </div>
                            <div>
                                <div class="d-flex mb-1">
                                    <p class="dataDy-data fw-bold dataDy-data-width">30</p>
                                    <p class="fs-6 text-neutral-400 mt-5">℃</p>
                                </div>
                                <div class="dataDy-status-2 py-1 px-3">
                                    <p class="fs-7 text-neutral-0 text-center">偏高</p>
                                </div>
                            </div>
                            <img src="../assets/images/line_img01.png" alt="line_img01">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <%- include('./layout/header'); -%> -->
    </div>
    <%- include('./layout/footer'); -%>


        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: "auto",
                spaceBetween: 8,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        </script>
        <script type="module" src="../main.js"></script>
</body>

</html>