<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>數據追蹤</title>
</head>

<body>

    <div class="container-mobile">

        <div class="container-sm px-4 pt-4">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <a href="./dataTrak.html">
                    <img src="../assets/images/icon/back.png" alt="back">
                </a>

                <div class="btn-group bg-neutral-50 rounded-pill py-1 px-2 gap-1">
                    <a href="./dataTrak.html" class="rounded-pill btn fs-7 fw-bold py-1 border-0 btn-neutral-0 active"
                        aria-current="page">數據追蹤</a>
                    <a href="./walkRecord.html"
                        class="rounded-pill btn fs-7 fw-bold py-1 border-0 text-neutral-400">散步紀錄</a>
                </div>

                <div class="dropdown">
                    <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="" src="../assets/images/icon/more.png" alt="more">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>

            <nav aria-label="Page navigation example mb-0">
                <ul class="pagination align-items-center justify-content-center">
                    <li class="page-item">
                        <a class="page-link border-0" href="#" aria-label="Previous">
                            <img src="../assets/images/icon/arrow_left.png" alt="arrow_left">
                        </a>
                    </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">S</p>
                            <p class="fs-8 fw-bold text-neutral-200">14</p>
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">M</p>
                            <p class="fs-8 fw-bold text-neutral-200">15</p>
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-500 mb-1">T</p>
                            <p class="fs-8 fw-bold text-neutral-500">16</p>
                            <!-- <div class="bg-primary-500 rounded-pill position-relative dataTk-posRel-1" style="width: 20px; height: 20px;">
              <p class="fs-8 fw-bold text-neutral-0 position-relative dataTk-posRel-2">16</p>
              </div> -->
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">W</p>
                            <p class="fs-8 fw-bold text-neutral-200">17</p>
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">T</p>
                            <p class="fs-8 fw-bold text-neutral-200">18</p>
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">F</p>
                            <p class="fs-8 fw-bold text-neutral-200">19</p>
                        </a> </li>
                    <li class="page-item page-item-w text-center"> <a class="page-link border-0" href="#">
                            <p class="fs-7 fw-bold text-neutral-200 mb-1">S</p>
                            <p class="fs-8 fw-bold text-neutral-200">20</p>
                        </a> </li>
                    <li class="page-item">
                        <a class="page-link border-0" href="#" aria-label="Next">
                            <img src="../assets/images/icon/arrow_right.png" alt="arrow_right">
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="d-flex flex-column gap-5">

                <div class="data-card border border-1 rounded-4">
                    <div class="d-flex gap-2">
                        <div class="d-flex flex-column data-title">
                            <div class="pie pie1 pie3">
                                <div class="inside-circle">
                                    <img class="rounded-circle m-auto position-relative data-img-posRel data-img"
                                        src="../assets/images/pet01.png" alt="pet01" style="width: 68px; height: 68px;">
                                </div>
                            </div>
                            <p class="fs-6 fw-bold text-center">黑皮</p>
                            <div class="d-flex gap-1 justify-content-center">
                                <p class="fs-6">活動量</p>
                                <p class="fs-6 fw-bold">92%</p>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap align-content-center">
                            <div class="data-width">
                                <p class="fs-8 text-neutral-400">距離</p>
                                <div class="d-flex">
                                    <h3 class="fw-bold">3</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">公里</p>
                                </div>
                            </div>
                            <div class="data-width">
                                <p class="fs-8 text-neutral-400">時間</p>
                                <div class="d-flex">
                                    <h3 class="fw-bold">1</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">小時</p>
                                </div>
                            </div>
                            <div class="data-width">
                                <p class="fs-8 text-neutral-400">消耗</p>
                                <div class="d-flex">
                                    <h3 class="fw-bold">332</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">大卡</p>
                                </div>
                            </div>
                            <div class="data-width">
                                <p class="fs-8 text-neutral-400">步數</p>
                                <div class="d-flex">
                                    <h3 class="fw-bold">16,800</h3>
                                    <p class="fs-7 fw-bold ms-1 mt-2">步</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data-card border border-1 rounded-4"></div>
                <div class="data-card border border-1 rounded-4"></div>
                <div class="d-flex">
                    <div class="data-card border border-1 rounded-4"></div>
                    <div class="data-card border border-1 rounded-4"></div>
                </div>
            </div>

        </div>

        <!-- <%- include('./layout/header'); -%> -->
    </div>
    <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>