<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>散步紀錄</title>
</head>

<body>
    <div class="container-mobile">
        <div class="container-sm px-4 pt-4">
            <div class="d-flex ms-4 position-absolute walkRd-posRel-4">
                <img class="rounded-pill" style="width: 28px; height: 28px;" src="../assets/images/pet02.png" alt="pet02">
                <img class="rounded-pill position-relative walkRd-posRel-1" style="width: 28px; height: 28px;" src="../assets/images/pet01.png" alt="pet01">
            </div>
            <div class="d-flex justify-content-between align-items-center mx-4 mb-5">
                <div class="bg-neutral-0" style="width: 24px; height: 24px;"></div>


                <div class="btn-group bg-neutral-50 rounded-pill py-1 px-2 gap-1">
                    <a href="./dataTrak.html" class="rounded-pill btn fs-7 fw-bold py-1 border-0 text-neutral-400">數據追蹤</a>
                    <a href="./walkRecord.html" class="rounded-pill btn fs-7 fw-bold py-1 border-0 btn-neutral-0 active" aria-current="page">散步紀錄</a>
                </div>

                <div class="dropdown">
                    <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="" src="../assets/images/icon/more.png" alt="more" style="width: 24px; height: 24px;">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">more 1</a></li>
                        <li><a class="dropdown-item" href="#">more 2</a></li>
                        <li><a class="dropdown-item" href="#">more 3</a></li>
                    </ul>
                </div>
            </div>

            <p class="fs-6 fw-bold mx-4 mb-5">本週, 07/11 ~ 07/18</p>

            <div class="d-flex flex-column gap-5">

                <a href="./walkDiary.html">
                    <div class="border-top border-1 p-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex gap-1 mb-1">
                                        <p class="fs-8">2024/07/19</p>
                                        <p class="fs-8">06:31</p>
                                    </div>
                                    <div class="d-flex gap-1 align-items-center mb-1">
                                        <img src="../assets/images/icon/location.png" alt="location" style="width: 16px; height: 16px;">
                                        <p class="fs-6">大安森林公園</p>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <p class="fs-6">1</p>
                                        <p class="fs-6">小時</p>
                                        <p class="fs-6">11</p>
                                        <p class="fs-6">分鐘</p>
                                        <div class="border-start border-neutral-100 border-2 rounded-1"></div>
                                        <p class="fs-6">3.2</p>
                                        <p class="fs-6">公里</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img class="rounded-pill position-relative walkRd-posRel-2" style="width: 28px; height: 28px;" src="../assets/images/user01.png" alt="user01">
                                    <img class="rounded-pill position-relative" style="width: 28px; height: 28px;" src="../assets/images/pet01.png" alt="pet01">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ps-3 pb-3">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="wR-img img-rounded position-relative" src="../assets/images/img01.png" alt="img01">
                                </div>
                                <div class="swiper-slide position-relative walkRd-posRel-3">
                                    <img class="wR-img img-rounded" src="../assets/images/img02.png" alt="img01">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="border-top border-1 p-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex gap-1 mb-1">
                                        <p class="fs-8">2024/07/19</p>
                                        <p class="fs-8">06:31</p>
                                    </div>
                                    <div class="d-flex gap-1 align-items-center mb-1">
                                        <img src="../assets/images/icon/location.png" alt="location" style="width: 16px; height: 16px;">
                                        <p class="fs-6">大安森林公園</p>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <p class="fs-6">1</p>
                                        <p class="fs-6">小時</p>
                                        <p class="fs-6">11</p>
                                        <p class="fs-6">分鐘</p>
                                        <div class="border-start border-neutral-100 border-2 rounded-1"></div>
                                        <p class="fs-6">3.2</p>
                                        <p class="fs-6">公里</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img class="rounded-pill position-relative walkRd-posRel-2" style="width: 28px; height: 28px;" src="../assets/images/user01.png" alt="user01">
                                    <img class="rounded-pill position-relative" style="width: 28px; height: 28px;" src="../assets/images/pet02.png" alt="pet02">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ps-3 pb-3">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="wR-img img-rounded position-relative" src="../assets/images/img03.png" alt="img03">
                                </div>
                                <div class="swiper-slide position-relative walkRd-posRel-3">
                                    <img class="wR-img img-rounded" src="../assets/images/img04.png" alt="img04">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="border-top border-1 p-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex gap-1 mb-1">
                                        <p class="fs-8">2024/07/19</p>
                                        <p class="fs-8">06:31</p>
                                    </div>
                                    <div class="d-flex gap-1 align-items-center mb-1">
                                        <img src="../assets/images/icon/location.png" alt="location" style="width: 16px; height: 16px;">
                                        <p class="fs-6">大安森林公園</p>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <p class="fs-6">1</p>
                                        <p class="fs-6">小時</p>
                                        <p class="fs-6">11</p>
                                        <p class="fs-6">分鐘</p>
                                        <div class="border-start border-neutral-100 border-2 rounded-1"></div>
                                        <p class="fs-6">3.2</p>
                                        <p class="fs-6">公里</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img class="rounded-pill position-relative walkRd-posRel-2" style="width: 28px; height: 28px;" src="../assets/images/user01.png" alt="user01">
                                    <img class="rounded-pill position-relative" style="width: 28px; height: 28px;" src="../assets/images/pet02.png" alt="pet02">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ps-3 pb-3">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="wR-img img-rounded position-relative" src="../assets/images/img05.png" alt="img05">
                                </div>
                                <div class="swiper-slide position-relative walkRd-posRel-3">
                                    <img class="wR-img img-rounded" src="../assets/images/img06.png" alt="img06">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
        <%- include('./layout/header'); -%>
        <!-- <%- include('./layout/footer'); -%> -->


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 8,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script type="module" src="../main.js"></script>
</body>

</html>